{% extends "base.html" %}
{% block content %}
	<div>
		<div class="ootw-wrapper">
			<div class="ootw-viewport">
				<ul class="ootwslider">
					<li><img src="/static/images/320x480.jpg"></li
					><li><img src="/static/images/640x428b.jpg"></li
					><li><img src="/static/images/320x569.jpg"></li
					><li><img src="/static/images/640x428c.jpg"></li
					><li><img src="/static/images/640x428d.jpg"></li
					><li><img src="/static/images/320x569.jpg"></li
					><li><img src="/static/images/640x428a.jpg"</li>
				</ul>
			</div>
		
		</div>			
	</div>
	<script>
		document.ready = function(){
			$('.ootwslider').ootwslider()
		};
	</script>	
{% endblock content %}